/***************** 
      HEADER
 *******************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4.6rem;
  background-color: #fdf2e9;

  /* Because we want header to be sticky later */
  height: 9.6rem;
}

.logo {
  height: 2.4rem;
}
/****************
      NAVIGATION
 *******************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  color: #333;
  font-weight: 600;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #e67e22;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  background-color: #e67e22;
  color: #fff;
  border: 9px;
  padding: 1.2rem 2.4rem;
  border-radius: 0.8rem;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #2e1907;
  color: #f0b27a;
}

/****************
HERO SECTION
*****************/

.section-hero {
  padding: 4.8rem 0 9.6rem 0;
  background-color: #fdf2e9;
}

/* One single .hero rule: 2 columns, text left, image right */
.hero {
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  padding: 0 3.2rem;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 9.6rem;
}

.hero-description {
  font-size: 1.8rem;
  line-height: 1.5;
  margin-bottom: 4.8rem;
}

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-bottom: 4.8rem;
}

.delivered-imgs {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  border: 3px solid #fdf2e9;
}

.delivered-imgs img {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  margin-right: -3.2rem;
  border: 3px solid #fdf2e9;
}

.delivered-imgs img:last-child {
  margin: 0;
}

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.delivered-text {
  font-size: 1.8rem;
  color: #333;
  font-weight: 600;
  align-items: center;
}

.delivered-text span {
  color: #e67e22;
  font-weight: 700;
}

.hero-img {
  width: 100%;
}

/****************
How SECTION
*****************/

.section-how {
  padding: 9.6rem 0 9.6rem 0;
  background-color: #fdf2e9;
}

.step-img {
  width: 100%;
  margin-bottom: 3.2rem;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #bbb;
  margin-bottom: 1.6rem;
}

.heading-tertiary {
  font-size: 2.8rem;
  line-height: 1.2;
  margin-bottom: 1.6rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
  color: #333;
}

.step-img {
  width: 35%;
  border-radius: 0.8rem;
}

.step-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
